/*
 *----------------------------------
 *@浮层框
 *----------------------------------
 **/
dl.com-mask-layer {
  z-index: 999;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  background-color: transparent;
}
dl.com-mask-layer>dt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
dl.com-mask-layer>dt.trans {
  background-color: transparent;
}
dl.com-mask-layer>dt:not(.trans).cmt-mask {
  background-color: #000;
  opacity: 0.5; 
}

/**@Name：浮层框@从下向上**/
.com-slippicker {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: .3s ease;
}
.comSlip {
  visibility: visible;
  transform: translate(0, 0%);
}

/**@Name：浮层框@从中心向四周展开**/
.com-blastpicker {
  overflow: hidden;
  visibility: hidden;
  transform: scale(.6);
  transition: .3s ease;
  margin: auto !important;
}
.comBlast {
  visibility: visible;
  transform: scale(1);
}





/*toast提示框*/
dl.cmt-toast>dd {
  padding-right: .25rem;
  padding-left: .25rem;
  height: .9rem;
  border-radius: .1rem;
  background-color: rgba(0, 0, 0);
  font-size: .28rem;
  color: #fff;
  opacity: 0;
}
dl.cmt-toast>dd.cmt-show {
  opacity: .8;
  transition-duration: 1000ms;
}

/*数据加载框*/
dl.cmt-loading>dd {
  overflow: hidden;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0);
  border-radius: .1rem;
  text-align: center;
  opacity: 0;
}
dl.cmt-loading>dd.cmt-show {
  opacity: .8;
  transition-duration: 500ms;
}
dl.cmt-loading>dd>p {
  margin-top: .2rem;
  font-size: .28rem;
  color: #ccc; 
}  

/*数据提交框*/
dl.cmt-progress>dd {
  overflow: hidden;
  margin: auto;
  width: 3.6rem;
  height: 1.1rem;
  line-height: 1.1rem;
  background: rgba(0, 0, 0);
  border-radius: .1rem;
  text-align: center;
  opacity: 0;
}
dl.cmt-progress>dd.cmt-show {
  opacity: .8;
  transition-duration: 500ms;
}
dl.cmt-progress>dd>em {
  margin-left: .2rem;
  font-size: .28rem;
  color: #ccc;
}

/*消息提示框*/
dl.cmt-alert>dd {
  width: 5.5rem;
  border-radius: .1rem;
  background-color: #fff;
}
dl.cmt-alert>dd h3 {
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #333;
}
dl.cmt-alert>dd p {
  padding: .35rem;
  line-height: .6rem;
  border-bottom: 1px solid #eee;
  font-size: .3rem;
  color: #666;
}
dl.cmt-alert>dd button {
  width: 100%;
  height: .8rem;
  background-color: transparent;
  color: #0056bc;
}

/*操作确认框*/
dl.cmt-confirm>dd {
  width: 5.5rem;
  border-radius: .1rem;
  background-color: #fff;
}
dl.cmt-confirm>dd h3 {
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #333;
}
dl.cmt-confirm>dd p {
  padding: .35rem;
  line-height: .6rem;
  border-bottom: 1px solid #eee;
  font-size: .3rem;
  color: #666;
}
dl.cmt-confirm>dd button {
  flex: 1;
  height: .8rem;
  background-color: transparent;
  color: #0056bc;
}
dl.cmt-confirm>dd button:not(:last-child):first-child {
  color: #666;
}
dl.cmt-confirm>dd button:not(:first-child):last-child {
  border-left: 1px solid #eee;
}

/*懒加载*/
div.com-el-load {
  background-color: #f6f6f6;
}
div.com-el-load .com-spinner-snake {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ddd;
  border-right-color: transparent;
  animation:com-v-loading .8s infinite linear;
} 
div.com-el-load .com-spinner-failed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.com-el-load i {
  font-size: .5rem;
  color: #ddd; 
}
@keyframes com-v-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*操作框*/
dl.com-action-sheet>dd {
  background-color:#f8f8f8;
}
dl.com-action-sheet>dd button {
  width:100%;
  height:1rem;
  background-color:#fff;
  font-size: .3rem;
  color: #999;
}
dl.com-action-sheet>dd ul {
  overflow: hidden;
  margin-bottom: .25rem;
}
dl.com-action-sheet>dd ul>li {
  height: 1rem;
  line-height: 1rem;
  background-color: #fff;
  border-top: 1px solid #f8f8f8;
  text-align: center;
  font-size: .3rem;
}


/*Picker框*/
dl.com-picker>dd {
  background-color: #fff;
}
dl.com-picker>dd>ul {
  z-index: 2;
  border-bottom: 1px solid #eee;
}
dl.com-picker>dd>ul>li {
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  font-size: .3rem;
}
dl.com-picker>dd>ul>li.title {
  flex: 1;
  font-size: .32rem;
}
dl.com-picker>dd>ul>li.cancel {
  width: 1.5rem;
  color: #aaa;
}
dl.com-picker>dd>ul>li.confirm {
  width: 1.5rem;
  color: #448aff;
}
dl.com-picker div.picker-item {
  overflow: hidden;
}
dl.com-picker h3 {
  position: absolute;
  top: 50%;
  margin-top: -.5rem;
  width: 100%;
  height:1rem;
  line-height:1rem; 
  border-top: 1px solid #f8f8f8; 
  border-bottom: 1px solid #f8f8f8; 
}
dl.com-picker div.cmt-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,.6) 40%, rgba(255,255,255,0) 45%, rgba(255,255,255,0) 55%, rgba(255,255,255,.6) 60%, rgba(255,255,255,1) 100%); 
}


/*单项选择框*/
dl.com-item-picker ul.picker-slots {
  width: 100%;
  transform: translate3d(0, 0, 0);
}
dl.com-item-picker ul.picker-slots>li {
  height:1rem;
  line-height:1rem;
  text-align:center;
  font-size: .32rem;
}
dl.com-item-picker ul.picker-slots>li.active {
  font-weight: bold;
  color: #448aff;
}


/*时间选择器*/
dl.com-date-picker>dd div.cmt-slots {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
dl.com-date-picker>dd div.cmt-slots>ul {
  flex: 1;
}
dl.com-date-picker>dd div.cmt-slots>ul>li {
  height:1rem;
  line-height:1rem;
  text-align:center;
  font-size: .32rem;  
}
dl.com-date-picker>dd div.cmt-slots>ul>li.active {
  font-weight: bold;
  color: #448aff;
}
dl.com-date-picker>dd ul.animate>li {
  flex: 1;
}


/*地址选择器*/
dl.com-adrress-picker>dd div.cmt-slots {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
dl.com-adrress-picker>dd div.cmt-slots>ul {
  flex: 1;
}
dl.com-adrress-picker>dd div.cmt-slots>ul>li {
  height:1rem;
  line-height:1rem;
  text-align:center;
  font-size: .32rem;  
}
dl.com-adrress-picker>dd div.cmt-slots>ul>li.active {
  font-weight: bold;
  color: #448aff;
}
dl.com-adrress-picker>dd ul.animate>li {
  flex: 1;
}





/*
 *----------------------------------
 *@组件
 *----------------------------------
 **/

/*Notice*/
div.com-notice-turn {
  width: 100%;
  height: .5rem;
  line-height: .5rem;
  background-color: rgba(0, 0, 0, .5);
  color: rgba(255,255,255);
}
div.com-notice-turn em {
  width: .6rem;
  text-align: center;
}
div.com-notice-turn em i {
  line-height: .3rem;
  font-size: .3rem;
}
div.com-notice-turn div {
  flex: 1; 
  height: .5rem;
  overflow: hidden;
}
div.com-notice-turn ul {
  transform: translateY(0);
}
div.com-notice-turn ul>li.alt {
  height: .5rem;
  line-height: .5rem;
  font-size: .28rem;
} 


/*Swipe*/
div.com-swipe {
  overflow: hidden;
  width:100%;
  height:100%;
}
div.com-swipe p {
  position: absolute;
  bottom: .3rem;
  left: 0;
  width: 100%;
  height: .2rem;
}
div.com-swipe p em {
  display: block;
  margin-right:.05rem;
  margin-left: .05rem;
  width: .3rem; 
  height: 1px;
  background-color: #000;
}
div.com-swipe p em.active {
  background-color: #fff;
}
div.com-swipe-wrap {
  width:100%;
  height:100%;  
}
div.com-swipe-item {
  display: none;
  position: absolute;
  top: 0;
  width: 100%; 
  height: 100%;
  transform: translateX(0); 
}
div.com-swipe-item.animate {
  transition-duration: 600ms;
}


/*下拉刷新*/
div.com-pull-flush {
  overflow: hidden;
}
div.com-pull-flush priv-frame {
  overflow: hidden;
}
div.com-pull-flush .priv-top {
  margin-top: -50px;
  height: 50px;
}
div.com-pull-flush .priv-top em {
  display: inline-block;
  transition: .2s linear;
}
div.com-pull-flush .priv-top em.is-rotate {
  transform: rotate(180deg);
} 





/*
 *----------------------------------
 *@页面加载
 *----------------------------------
 **/
div.com-page-loading {
  z-index: 1000;
  background-color: #fff;
}
div.com-page-loading div.page>p {
  margin-top: .2rem;
  font-size: .28rem;
  color: #ccc;
}
div.com-page-loading div.error i {
  display: block;
  line-height: .6rem;
  font-size: .6rem;
  color: #faA617;
}
div.com-page-loading div.error p {
  height: 1rem;
  line-height: 1rem;
  font-size: .28rem;
}
div.com-page-loading div.error button {
  font-size: .24rem;
  color: #2d7bff;
}
div.com-page-loading div.error button:active {
  text-decoration: underline;
  color: #0050B3;
}





/*
 *----------------------------------
 *@ICON
 *----------------------------------
 **/

/*加载动画*/
div.com-spinner {
  overflow: hidden;
}
div.com-spinner.default, div.com-spinner.bounce, div.com-spinner.circle {
  width: .6rem;
  height: .6rem;
}
div.com-spinner div.default {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #ddd;
  border-left-color: transparent;
  animation: animate-spinner-default 800ms infinite linear;
}
div.com-spinner.pull {
  width: 18px;
  height: 18px;
}
div.com-spinner div.pull {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #ddd;
  border-left-color: transparent;
  animation: animate-spinner-default 800ms infinite linear;
}
@keyframes animate-spinner-default {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}
div.com-spinner div.bounce {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: .6;
  background-color: #448aff;
  animation: animate-spinner-bounce 2.0s infinite ease-in-out;
}
div.com-spinner div.bounce.bounce-outer {
  animation-delay: -1.0s;
}
@keyframes animate-spinner-bounce {
  0%, 100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}
div.com-spinner ul.triple>li {
  margin-right: .05rem;
  margin-left: .05rem;
  width: .22rem;
  height: .22rem; 
  border-radius: 100%;
  background-color: #448aff;
  animation: animate-spinner-triple 1.4s infinite ease-in-out both;
}
div.com-spinner ul.triple>li.left {
  animation-delay: -0.32s;
}
div.com-spinner ul.triple>li.center {
  animation-delay: -0.16s;
}
@keyframes animate-spinner-triple {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
div.com-spinner ul.circle {
  width: 100%;
  height: 100%;
}
div.com-spinner ul.circle>li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.com-spinner ul.circle>li::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: .07rem;
  height: .07rem;
  background-color: #448aff; 
  animation: animate-spinner-circle 1.2s infinite ease-in-out both;
}
div.com-spinner ul.circle>li.li-02 {transform: rotate(30deg);}
div.com-spinner ul.circle>li.li-02::before {animation-delay: -1.1s;}
div.com-spinner ul.circle>li.li-03 {transform: rotate(60deg);}
div.com-spinner ul.circle>li.li-03::before {animation-delay: -1s;}
div.com-spinner ul.circle>li.li-04 {transform: rotate(90deg);}
div.com-spinner ul.circle>li.li-04::before {animation-delay: -.9s;}
div.com-spinner ul.circle>li.li-05 {transform: rotate(120deg);}
div.com-spinner ul.circle>li.li-05::before {animation-delay: -.8s;}
div.com-spinner ul.circle>li.li-06 {transform: rotate(150deg);}
div.com-spinner ul.circle>li.li-06::before {animation-delay: -.7s;}
div.com-spinner ul.circle>li.li-07 {transform: rotate(180deg);}
div.com-spinner ul.circle>li.li-07::before {animation-delay: -.6s;}
div.com-spinner ul.circle>li.li-08 {transform: rotate(210deg);}
div.com-spinner ul.circle>li.li-08::before {animation-delay: -.5s;}
div.com-spinner ul.circle>li.li-09 {transform: rotate(240deg);}
div.com-spinner ul.circle>li.li-09::before {animation-delay: -.4s;}
div.com-spinner ul.circle>li.li-10 {transform: rotate(270deg);}
div.com-spinner ul.circle>li.li-10::before {animation-delay: -.3s;}
div.com-spinner ul.circle>li.li-11 {transform: rotate(300deg);}
div.com-spinner ul.circle>li.li-11::before {animation-delay: -.2s;}
div.com-spinner ul.circle>li.li-12 {transform: rotate(330deg);}
div.com-spinner ul.circle>li.li-12::before {animation-delay: -.1s;}
@keyframes animate-spinner-circle {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }  
}