<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll aux-screen">
      <div class="com-flexv aux-screen">
        <section>  
          <div class="priv-input">
            <input class="aux aux-focus aux-pad" v-model="account" type="tel" value="" maxlength="11" placeholder="输入手机号">
          </div>
          <div class="com-disx priv-input code">
            <input class="aux aux-focus aux-pad" v-model="code" type="text" value="" maxlength="4" placeholder="验证码">
            <em class="com-flexv com-font-blue">获取验证码</em>
          </div>
          <button class="aux aux-blue" type="button" @click="enter">下一步</button>
        </section>
      </div>
    </div>

    

  </div>
</template>


<script>
  export default {
    name: 'forcode',
    data () {
      return {
        account: "",
        code: ""
      }
    },
    methods: {
      enter: function() {
        this.$router.push({path: "/account/forget"});
      }
    }
  }
</script>

<style scoped>
  section {
    overflow: hidden;
    padding-right: 1rem;
    padding-left: 1rem; 
    width: 100%;
  }
  div.priv-input {
    overflow: hidden;
    margin-top: .4rem;
  }
  div.priv-input:last-child {
    margin-top: 0;
  }
  input, button {
    width: 100%;
    border-radius: .1rem;
  }
  input {
    height: 1rem;
    font-size: .32rem;
  }
  div.code input {
    flex: 1;
  }
  div.code em {
    margin-left: .35rem;
    width: 1.8rem;
    border-radius: .1rem;
    align-items: flex-end;
    font-size: .28rem;
  }
  button {
    margin-top: .7rem;
    height: 1rem;
    font-size: .32rem;
    color: #fff;
  }
</style>