<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll aux-screen">
      <div class="com-flexv aux-screen">
        <section>  
          <div class="priv-input ps">
            <input class="aux aux-focus aux-pad" v-model="password" :type="view.type" value="" maxlength="20" placeholder="输入密码">
            <em class="com-flexv"> 
              <i v-if="view.state" class="iconfont" @click="switchPs" style="color:#0066cc;">&#xe625;</i>
              <i v-if="!view.state" class="iconfont" @click="switchPs">&#xe626;</i>
            </em>
          </div>
          <div class="priv-input ps">
            <input class="aux aux-focus aux-pad" v-model="confirmps" :type="viewps.type" value="" maxlength="20" placeholder="确认密码">
            <em class="com-flexv"> 
              <i v-if="viewps.state" class="iconfont" @click="verifyPs" style="color:#0066cc;">&#xe625;</i>
              <i v-if="!viewps.state" class="iconfont" @click="verifyPs">&#xe626;</i>
            </em>
          </div>
          <button class="aux aux-blue" type="button" @click="enter">提交</button>
        </section>
      </div>
    </div>

    

  </div>
</template>


<script>
  export default {
    name: 'forget',
    data () {
      return {
        account: "",
        password: "",
        confirmps: "",
        view: {
          state: true,
          type: "text"
        },
        viewps: {
          state: true,
          type: "text"
        }
      }
    },
    methods: {
      switchPs: function() {
        this.view.state = !this.view.state;
        this.view.type = this.view.state ? "text" : "password";
      },
      verifyPs: function() {
        this.viewps.state = !this.viewps.state;
        this.viewps.type = this.viewps.state ? "text" : "password";
      },
      enter: function() {
        
      }
    }
  }
</script>

<style scoped>
  section {
    overflow: hidden;
    padding-right: 1rem;
    padding-left: 1rem; 
    width: 100%;
  }
  div.priv-input {
    overflow: hidden;
    margin-top: .4rem;
  }
  div.priv-input:last-child {
    margin-top: 0;
  }
  div.ps input {
    padding-right: 1rem;
  }
  div.ps em {
    position: absolute;
    top: 0;
    right: 0;
    width: .8rem;
    height: 100%;
  }
  div.ps em i {
    font-size: .48rem;
  }
  input, button {
    width: 100%;
    border-radius: .1rem;
  }
  input {
    height: 1rem;
    font-size: .32rem;
  }
  button {
    margin-top: .7rem;
    height: 1rem;
    font-size: .32rem;
    color: #fff;
  }
</style>