<template>
  <div class="com-container" style="padding-bottom:.8rem;">
    <div class="scom-scroll-y com-scrol aux-screen">
      <div class="com-flexv aux-screen">
        <section>  
          <div class="priv-input">
            <input class="aux aux-focus aux-pad" v-model="phone" type="tel" value="" maxlength="11" placeholder="手机号">
          </div>
          <div class="priv-input ps">
            <input class="aux aux-focus aux-pad" v-model="password" :type="view.type" value="" maxlength="20" placeholder="密码">
            <em class="com-flexv"> 
              <i v-if="view.state" class="iconfont" @click="switchPs" style="color:#0066cc;">&#xe625;</i>
              <i v-if="!view.state" class="iconfont" @click="switchPs">&#xe626;</i>
            </em>
          </div>
          <p>
            <span class="com-select-frame" @click="remember"><em class="com-select-core" :class="{'aux-active': radioVItem}"></em><label>记住密码</label></span>
            <a @click="forgetPs" class="com-font-blue priv-a" href="javascript:;">忘记密码?</a>
          </p>
          <button class="aux aux-blue" type="button" @click="login">登录</button>
        </section>
      </div>
    </div>  

    
    <p class="register"><a @click="register" class="com-font-blue priv-a" href="javascript:;">前往注册</a></p>
  </div>
</template>


<script>
  export default {
    name: 'login',
    data () {
      return {
        phone: "",
        password: "",
        radioVItem: false,
        view: {
          state: true,
          type: "text"
        }
      }
    },
    created () {
      this.phone = window.localStorage.getItem("phone");
      this.password = window.localStorage.getItem("password"); 
      this.radioVItem = window.localStorage.getItem("radio") == "true" ? true : false;
    },  
    methods: {
      switchPs: function() {
        this.view.state = !this.view.state;
        this.view.type = this.view.state ? "text" : "password";
      },
      register: function() {
        this.$router.push({path: "/account/regcode"}); 
      },
      forgetPs: function() {
        this.$router.push({path: "/account/forcode"});
      },
      remember: function() {
        this.radioVItem = !this.radioVItem;

        if (this.radioVItem) {
          window.localStorage.setItem("phone", this.phone);
          window.localStorage.setItem("password", this.password);
          window.localStorage.setItem("radio", true);
        } else {
          window.localStorage.removeItem("phone");
          window.localStorage.removeItem("password"); 
          window.localStorage.removeItem("radio"); 
        }
      },
      login: function() {
        if (this.phone == "") {
          this.$root.comToastData.info = "手机号不能为空";
          this.$root.comToastData.layer = 1;
          return ;
        }
        if (!plug.regPhone.test(this.phone)) {
          this.$root.comToastData.info = "手机号格式错误";
          this.$root.comToastData.layer = 1; 
          return ;
        }
        if (this.password == "") {
          this.$root.comToastData.info = "密码不能为空";
          this.$root.comToastData.layer = 1;
          return ;
        }
        this.$root.comProgressData.info = "正在登录中";
        this.$root.comProgressData.layer = 1;

        plug.ajax({
          object: this,   
          url: "api/login",
          data: {
            phone: this.phone,
            password: this.password
          },
          success: (res)=> {
            window.localStorage.setItem("token", res.data['token']);
            window.setTimeout(()=> {
              this.$router.push({  
                path: "/home"
              });  
            }, 500);
          }
        }); 
      }
    }
  }
</script>

<style scoped>
  section {
    overflow: hidden;
    padding-right: 1rem;
    padding-left: 1rem; 
    width: 100%;
  }
  div.priv-input {
    overflow: hidden;
    margin-top: .4rem;
  }
  div.priv-input:last-child {
    margin-top: 0;
  }
  div.ps input {
    padding-right: 1rem;
  }
  div.ps em {
    position: absolute;
    top: 0;
    right: 0;
    width: .8rem;
    height: 100%;
  }
  div.ps em i {
    font-size: .48rem;
  }
  input, button {
    width: 100%;
    border-radius: .1rem;
  }
  input {
    height: 1rem;
    font-size: .32rem;
  }
  section p {
    margin-top: .7rem;
    margin-bottom: .2rem;
    height: .45rem;
    line-height: .45rem;
  }
  section p>a {
    float: right;
  }
  button {
    height: 1rem;
    font-size: .32rem;
    color: #fff;
  }
  p.register {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
  }
  p.register a {
    text-decoration: underline;
  }
</style>