<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll aux-screen">
      <div class="com-flexv aux-screen">
        <section>  
          <div class="priv-input">
            <input class="aux aux-focus aux-pad" v-model="phone" type="tel" value="" maxlength="11" placeholder="输入手机号">
          </div>
          <div class="com-disx priv-input code">
            <input class="aux aux-focus aux-pad" v-model="code" type="tel" value="" maxlength="4" placeholder="验证码">
            <em v-if="!state" @click="getCode" class="com-flexv com-font-blue">获取验证码</em>
            <span v-if="state" class="com-flexv">倒计时{{show}}</span>
          </div>
          <button class="aux aux-blue" type="button" @click="enter">下一步</button>
        </section> 
      </div>
    </div>

    

  </div>
</template>


<script>
  export default {
    name: 'regcode',
    data () {
      return {
        phone: "",
        code: "",
        state: false,
        count: 60, 
        show: ""
      }
    }, 
    methods: {
      sendState: function() {
        this.state = true;
        this.show = this.count + "s";
        let start = 0;
        let interval = window.setInterval(()=> {
          start ++;
          if (start  > this.count) {
            window.clearInterval(interval); 
            this.state = false;
            return ;
          }
          this.show = (this.count - start) + "s";
        }, 1000);
      },
      getCode: function() {
        if (this.phone == "") { 
          this.$root.comToastData.info = "手机号不能为空";
          this.$root.comToastData.layer = 1; 
          return ;
        } 
        if (!plug.regPhone.test(this.phone)) {
          this.$root.comToastData.info = "手机号格式错误";
          this.$root.comToastData.layer = 1; 
          return ;
        }
        this.$root.comProgressData.info = "正在发送中";
        this.$root.comProgressData.layer = 1;
        
        plug.ajax({
          object: this, 
          url: "api/getRegCode",
          data: {
            phone: this.phone
          },
          success: (res)=> {  
            this.$root.comToastData.layer = 1;
            this.$root.comToastData.info = "验证码已经发送";

            this.sendState();

            window.setTimeout(()=> {
              this.$root.comAlertData.layer = 1;
              this.$root.comAlertData.info = "你的验证码是: " + res.data['code']; 
            }, 5000); 
          }
        }); 
      },
      enter: function() {
        if (this.phone == "") { 
          this.$root.comToastData.info = "手机号不能为空";
          this.$root.comToastData.layer = 1; 
          return ;
        } 
        if (!plug.regPhone.test(this.phone)) {
          this.$root.comToastData.info = "手机号格式错误";
          this.$root.comToastData.layer = 1; 
          return ;
        }

        if (this.code.length != 4) {
          this.$root.comToastData.info = "验证码不能为空";
          this.$root.comToastData.layer = 1; 
          return ;
        } 
        
        this.$root.comProgressData.info = "正在请求中";
        this.$root.comProgressData.layer = 1;

        plug.ajax({
          object: this,
          url: "api/getRegToken",
          data: {
            phone: this.phone,
            code: this.code
          },
          success: (res)=> { 
            this.$router.push({
              path: "/account/register", 
              query: {
                token: res.data.token
              } 
            });  
          }
        }); 
      }
    }
  }
</script>

<style scoped>
  section {
    overflow: hidden;
    padding-right: 1rem;
    padding-left: 1rem; 
    width: 100%;
  }
  div.priv-input {
    overflow: hidden;
    margin-top: .4rem;
  }
  div.priv-input:last-child {
    margin-top: 0;
  }
  input, button {
    width: 100%;
    border-radius: .1rem;
  }
  input {
    height: 1rem;
    font-size: .32rem;
  }
  div.code input {
    flex: 1;
  }
  div.code em {
    margin-left: .35rem;
    width: 1.8rem;
    border-radius: .1rem;
    align-items: flex-end;
    font-size: .28rem;
  }
  div.code span {
    margin-left: .35rem;
    width: 1.8rem;
    border-radius: .1rem; 
    align-items: flex-end;
    font-size: .28rem;   
  }
  button {
    margin-top: .7rem;
    height: 1rem;
    font-size: .32rem;
    color: #fff;
  }
</style>