<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll">
      <ul class="aux function"> 
        <li class="com-disx com-active-bg">
          <div><em class="com-flexv" style="background-color: #00BCD4;color:#fff;"><i class="iconfont">&#xe651;</i></em></div>
          <p class="com-flexh">我的群组</p> 
        </li>
        <li class="com-disx com-active-bg">
          <div><em class="com-flexv" style="background-color:#03A9F4;color:#fff;"><i class="iconfont">&#xe657;</i></em></div>
          <p class="com-flexh">添加好友</p> 
        </li>
      </ul>
      <ul class="aux contact"> 
        <li class="com-active-bg">
          <p>A</p>
          <ul class="aux firend">
            <li v-for="(dx,index) in 2" :key="index" class="com-disx"><div><img src="@/assets/images/001.jpg" alt=""></div><p class="com-flexh">安迪</p></li>
          </ul>
        </li>
        <li class="com-active-bg">
          <p>W</p>
          <ul class="aux firend">
            <li v-for="(dx,index) in 3" :key="index" class="com-disx">
              <div><img src="@/assets/images/001.jpg" alt=""></div>
              <p class="com-flexh">王小汇</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>


    <div class="com-flexv aside">
      <div class="com-flexv">
        <p>&#8593;</p>
        <p>&#9827;</p>
      </div>
      <ul class="com-flexv list">
        <li class="com-flexv" v-for="(dx, index) in charList" :key="index" @click="showItem(index)">{{dx}}</li>
      </ul>
      <p>#</p>
    </div>
  </div>
</template>


<script>
  export default {
    name: 'contact',
    data () {
      return {
        charList: []
      }
    },
    created () {
      this.createdChar();
    },
    methods: {
      showItem: function(id) {
        console.log(id); 
        console.log(this.charList[id]);
      },
      createdChar: function() {
        for(let i=65; i<91; i++){
          this.charList.push(String.fromCharCode(i));
        }
      }
    } 
  }
</script>

<style scoped>
  ul.function>li {
    padding-top: .15rem;
    padding-bottom: .15rem;
    height: 1.2rem;
    border-bottom: 1px solid #f8f8f8;
  }
  ul.function>li div {
    overflow: hidden;
    padding: 0 .15rem 0 .2rem;
    width: 1.2rem;
  }
  ul.function>li div>em {
    width: 100%;
    height: 100%;
    border-radius: .1rem;
  }
  ul.function>li div>em i {
    font-size: .6rem;
  }
  ul.function>li div img {
    width: .9rem;
    height: .9rem;
    border-radius: .1rem;
  }
  ul.function>li p {
    overflow: hidden;
    flex: 1;
  }

  ul.contact>li>p {
    padding-left: .2rem;
    height: .5rem;
    line-height: .5rem;
    background-color: #f2f2f2;
    font-size: .28rem;
    color: #999;
  }
  ul.firend>li {
    height: 1.2rem;
    border-bottom: 1px solid #f8f8f8;
  }
  ul.firend>li>div {
    overflow: hidden;
    padding: .15rem .15rem .15rem .2rem;
    width: 1.35rem;
  }
  ul.firend>li>div img {
    width: .9rem;
    height: .9rem;
    border-radius: .1rem;
  }
  ul.firend>li>p {
    overflow: hidden;
    flex: 1;
  }
  
  div.aside {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: .4rem;
    height: 100%;
    font-size: .24rem;
  }
  div.aside>div {
    width: 100%;
    height: .8rem;
    text-align: center;
  }
  ul.list {
    flex: 1;
    width: 100%;
  }
  ul.list li {
    flex: 1;
    width: 100%;
  }
  div.aside>p {
    height: .4rem;
  }
</style>