.van-rate{-webkit-user-select:none;user-select:none}.van-rate__item{display:inline-block;position:relative;padding:0 2px}.van-rate__icon{width:1em}.van-rate__icon--half{position:absolute;top:0;left:2px;width:.5em;overflow:hidden}