<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>IM智能系统</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script>
    (function(global) {
      'use strict';
      
      //响应式缩放页面
      let scale = function(desW, fontSize) {
        let width = document.documentElement.clientWidth || document.body.clientWidth;
        let ft = width / (desW / fontSize);
        //PC端訪問時，默認viewport為100
        if (!/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
          ft = 50; 
        }
        //console.log("1rem = " + ft + "px; / " + 14/ft + "rem = " + "14px; / " + 16/ft + "rem = " + "16px");
        window.font_size = ft;
        document.documentElement.style.fontSize = ft + "px";
      }
      scale(750, 100); 
      window.onresize = function() {
        scale(750, 100);
      }
    })(this);
  </script>
</html>
