<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll">
      <div style="height:12rem;">3243</div>
      <div style="height:12rem;">1111111111111111</div>
    </div>



  </div>
</template>


<script>
  export default {
    name: 'serviceIndex',
    data() {
      return {
        name: ''
      }
    },
    created() { },
    watch: {},
    mounted() {
      this.$nextTick(() => { });
    },
    methods: {}
  }
</script>

<style scoped>

</style>