<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll">
      
    </div>



  </div>
</template>


<script>
  export default {
    name: 'serviceList',
    data() {
      return {
        name: ''
      }
    },
    created() { },
    watch: {},
    mounted() {
      this.$nextTick(() => { });
    },
    methods: {}
  }
</script>

<style scoped>

</style>