<template>
  <div class="com-container">
    <div class="com-container com-disx">
      <nav @click="getIndex" class="com-scroll-y com-scroll">
        <p v-for="(dx,index) in 30" :key="index" :data-id="index">融资租赁{{index}}</p>
      </nav>
      <section class="com-scroll-y com-scroll">
        <ul class="aux list">
          <li v-for="(dx,index) in 10" :key="index" class="com-disx" :class="index%2 == 0 ? 'company': 'person'">
            <h3 v-if="index%2==0">深圳联讯云科技有限公司<span><i class="iconfont">&#xe684;</i>12米</span></h3>
            <h3 v-if="index%2!=0">李红都<span><i class="iconfont">&#xe684;</i>12米</span></h3>
            <div class="banner"><img src="" alt=""></div>
            <div class="info">
              <p class="item"><label>主营业务:</label>银行信用评估、信用卡办理、资产评估等</p>
              <p v-if="index%2==0" class="experience"><label>经营年限:</label>12年 <span>评级</span></p>
              <p v-if="index%2!=0" class="experience"><label>从业年限:</label>3年 <span>评级</span></p>
            </div>
          </li>
        </ul>
      </section>
    </div>



  </div>
</template>


<script>
  export default {
    name: 'serviceSelect',
    data() {
      return {
        name: ''
      }
    },
    created() { },
    watch: {},
    mounted() {
      this.$nextTick(() => { });
    },
    methods: {
      getIndex(e) {
        let parent = e.currentTarget;
        let ph = e.currentTarget.clientHeight;  //容器高度
        //let sh = e.currentTarget.scrollHeight;  //容器滚动区高度
        let st = e.currentTarget.scrollTop;  //容器已滚动高度

        let h = e.target.clientHeight;  //内容节点高度
        let t = e.target.offsetTop;  //内容节点距离容器顶部距离

        //上移
        let distance = t - st;  //内容节点距离容器顶部的可视距离
        if (distance > ph/2) {
          let animate = distance - ph/2 + h/2;
          let top = st + animate;

          let _top = st;
          let interval = window.setInterval(()=> {
            _top += 2;
            if (_top >= top) {
              _top = top;
              window.clearInterval(interval); 
            }
            parent.scrollTop = _top;
          }, 3);
        }
        //下移
        else {
          let animate = ph/2 - distance - h/2;
          let top = st - animate;

          let _top = st;
          let interval = window.setInterval(() => {
            _top -= 2;
            if (_top <= top) {
              _top = top;
              window.clearInterval(interval);
            }
            parent.scrollTop = _top;
          }, 3);
        }

        if (e.target.nodeName.toLowerCase() == "p") {
          let id = e.target.dataset.id;
          console.log(id);
          return ;
        }
        this.$root.comToastData.layer = 1;
        this.$root.comToastData.info = "业务操作异常";
      },
      getData() {
        //
      }
    }
  }
</script>

<style scoped>
  nav {width:1.8rem;box-shadow: 0 0 5px #eee;}
  nav p {height:.9rem;line-height:.9rem;text-align:center;border-bottom:1px solid #f8f8f8;font-size:.28rem;}
  section {flex:1;}

  ul.list {padding-bottom: .25rem;}
  ul.list>li {flex-wrap:wrap;padding: 0 .1rem .15rem .15rem;border-bottom:1px solid #f8f8f8;}
  ul.list>li>h3 {flex:100%;padding-right:1rem;height:.7rem;line-height:.7rem;font-size:.3rem;}
  ul.list>li>h3 span {float:right;position: absolute;right:0;font-size: .24rem;color:#03A9F4;}
  ul.list>li>h3 span i {flex: 1;font-size: .26rem;color:#aaa;}
  ul.list>li>div.banner {width:1.6rem;height:1.2rem;margin-right:.1rem;}
  ul.list>li>div.banner img {display:block;width:100%;height:100%;background-color:#f8f8f8;}
  ul.list>li>div.info {overflow:hidden;flex:1;}
  ul.list>li>div.info p {overflow:hidden;font-size: .24rem;}
  ul.list>li>div.info p label {color: #03A9F4;}
  ul.list>li>div.info p.item {overflow:hidden;height:.8rem;line-height:.4rem;-webkit-line-clamp: 2;word-break: break-all;}
  ul.list>li>div.info p.experience {height:.45rem;line-height:.45rem;}
  ul.list>li>div.info p.experience span {float:right;color:#FBC02D;}
</style>