<template>
  <div class="com-container">
    <div class="com-container com-disy">
      <section ref="scrollBom" class="com-scroll-y com-scroll">
        <dl v-for="(dx,index) in dataList" :key="index" class="aux com-disx dialog" :class="{local: dx.type == 'local', remote: dx.type == 'remote'}">
          <!--本地发送消息内容-->
          <dd v-if="dx.type == 'local'">
            <div class="com-wrap">{{dx.content}}</div> 
          </dd>
          <dt v-if="dx.type == 'local'"><img src="@/assets/images/003.jpg" alt=""></dt>

          <!--远程推送消息-->
          <dt v-if="dx.type == 'remote'"><img src="@/assets/images/001.jpg" alt=""></dt>
          <dd v-if="dx.type == 'remote'">
            <div class="com-wrap">{{dx.content}}</div>
          </dd>
        </dl>
      </section>
      <footer class="com-disx">
        <input class="aux aux-focus aux-pad" type="text" v-model="message.content" value="" @keyup.enter="pushMsg" placeholder="">
        <div class="com-flexv">
          <button class="aux" :class="{null : !message.state}" type="button" @click="pushMsg">发送</button>
        </div>
      </footer>
    </div>

    

  </div>
</template>


<script>
  import io from "socket.io-client";

  export default {
    name: '',
    data () {
      return {
        message: {
          state: false,
          content: ""
        },
        dataList: [],
        socket: null 
      }
    },  
    created () {
      this.socket = io(plug.baseIm); 
      this.getLink(this.socket); 
    }, 
    watch: {
      "message.content": function(val) {
        if (plug.judgeString(val)) {
          this.message.state = true; 
          return ;
        } 
        this.message.state = false; 
      }
    },
    methods: {
      pushMsg() { 
        if (!this.message.state) {
          return ;
        }
        let sendData = {
          type: "local",
          content: this.message.content
        };
        this.dataList.push(sendData);
        
        plug.ajax({
          object: this,
          url: "api/chat",
          data: {
            content: this.message.content
          },
          success: (res)=> { 
            let sendData = {
              type: "remote",
              content: res.data.content
            };
            this.dataList.push(sendData);
          } 
        });

        this.socket.emit('ioMsg', this.message.content);

        this.message.content = "";

        window.setTimeout(()=> {
          this.$refs.scrollBom.scrollTop = this.$refs.scrollBom.scrollHeight; 
        }, 200); 
      },

      getLink(socket) {
        socket.on('ioMsg', (msg)=> { 
          let sendData = {
            type: "remote", 
            content: msg
          };
          this.dataList.push(sendData);
        });
      }      
    }
  }
</script>

<style scoped>
  section {flex: 1; padding-bottom: .25rem;background-color: #f8f8f8;}
  dl.dialog {overflow: hidden;margin-top: .35rem;width: 100%;}
  dl.dialog:first-child {margin-top: .15rem;}
  dl.dialog>dt {overflow: hidden;width: 1.2rem;}
  dl.dialog>dt img {width: .8rem;height: .8rem;border-radius: .1rem;}
  dl.dialog>dd {flex: 1;overflow: visible;}
  dl.dialog>dd>div {display: inline-block;padding: .2rem .15rem;line-height: .4rem;border-radius: .1rem;font-size: .32rem;}

  dl.dialog.local>dt {padding-right: .15rem;padding-left: .25rem;}
  dl.dialog.remote>dt {padding-right: .25rem;padding-left: .15rem;}
  dl.dialog.local>dd {padding-left: .9rem;}
  dl.dialog.local>dd>div {float: right;background-color: #99CC33;color: #fff;}
  dl.dialog.local>dd::after {
    content: "";
    position: absolute;
    top: .27rem;
    right: -.12rem;
    width: 0;
    height: 0;
    border: .14rem solid transparent;
    border-right-width: 0;
    border-left-color: #99CC33; 
  }
  dl.dialog.remote>dd {padding-right: .9rem;}
  dl.dialog.remote>dd::before {
    content: "";
    position: absolute;
    top: .27rem;
    left: -.12rem;
    width: 0;
    height: 0;
    border: .14rem solid transparent;
    border-right-color: #fff; 
    border-left-width: 0;
  }
  dl.dialog.remote>dd>div {float: left;background-color: #fff;}  


  footer {
    padding: .15rem 0;
    padding-left: .15rem;
    height: 1.2rem;
    box-shadow: 0 -1px 2px #f2f2f2;
  }
  footer>input {
    flex: 1;
    font-size: .28rem;
  }
  footer>div {
    width: 1.2rem;
    height: 100%;
  }
  footer>div button {
    height: .65rem;
    border-radius: .05rem;
    background-color: #ddd;
    font-size: .3rem;
    color: #fff;
  }
  footer>div button:not(.null) {
    background-color: #66CC00;
  }
  footer>div button:not(.null):active {
    background-color: #50a000;
  }
</style>