<template>
  <div class="com-container com-bg">
    <div class="com-scroll-y com-scroll">
      <ul class="aux select">
        <li class="com-disx com-active-bg">
          <label><i class="iconfont">&#xe6b1;</i>距离</label>
          <span></span>
          <em><i class="iconfont">&#xe6b6;</i></em>
        </li>
        <li class="com-disx com-active-bg">
          <label><i class="iconfont">&#xe6b1;</i>细分类别</label>
          <span></span>
          <em><i class="iconfont">&#xe6b6;</i></em>
        </li>
        <li class="com-disx com-active-bg">
          <label><i class="iconfont">&#xe6b1;</i>价格</label>
          <span></span>
          <em><i class="iconfont">&#xe6b6;</i></em>
        </li>
        <li class="com-disx com-active-bg">
          <label><i class="iconfont">&#xe6b1;</i>客户评级</label>
          <span></span>
          <em><i class="iconfont">&#xe6b6;</i></em>
        </li>
      </ul>

      <ul class="com-disx aux list">
        <li class="com-disx" v-for="(dx,index) in 50" :key="index">
          <img src="" alt="">
          <p>红烧豆腐高交会馆回家干啥电咖啡壶高交会馆大发光火付款计划</p>
          <span class="price">￥<em>188</em></span>
          <span class="com-disx people"><i class="iconfont">&#xe684;</i>18米</span>
        </li>
      </ul>
    </div>



  </div>
</template>


<script>
  export default {
    name: 'goodsList',
    data() {
      return {
        name: ''
      }
    },
    created() { },
    watch: {},
    mounted() {
      this.$nextTick(() => { });
    },
    methods: {}
  }
</script>

<style scoped>
  ul.select {margin-bottom:.25rem;}
  ul.select>li {margin-bottom:.15rem;padding-left:.15rem;height:.9rem;line-height:.9rem;background-color:#fff;}
  ul.select>li>label {width:1.8rem;}
  ul.select>li>label i {float:left;margin-right:.1rem;font-size: .4rem;color:#03A9F4;}
  ul.select>li>span {flex:1;}
  ul.select>li>em {width:.8rem;text-align:center;}
  ul.select>li>em i {font-size: .4rem;color:#aaa;}

  ul.list {flex-wrap:wrap;margin-bottom:.5rem;background-color:#fff;}
  ul.list>li {flex:50%;flex-wrap: wrap;padding-bottom:.15rem;border-bottom:5px solid#f8f8f8;}
  ul.list>li:nth-child(odd) {border-right:2.5px solid#f8f8f8;}
  ul.list>li:nth-child(even) {border-left:2.5px solid#f8f8f8;}
  ul.list>li * {flex:100%;}
  ul.list>li img {display:block;width:100%;height:4rem;background-color:#eee;}
  ul.list>li p {margin:.15rem 0;padding:0 .15rem;overflow:hidden;-webkit-line-clamp: 2;word-break: break-all;height: .8rem;line-height: .4rem;font-size: .28rem;}
  ul.list>li span {flex:1;font-size: .24rem;}
  ul.list>li span.price {padding-left:.15rem;text-align:left;color:#ff5000;}
  ul.list>li span.people {padding-right:.15rem;text-align:right;color:#03A9F4;}
  ul.list>li span.people i {flex: 1;font-size: .26rem;color:#aaa;}
</style>