<template>
  <div class="com-container">
    <div class="com-container com-disx">
      <nav @click="getIndex" class="com-scroll-y com-scroll">
        <p v-for="(dx,index) in 30" :key="index" :data-id="index">装修器材{{index}}</p>
      </nav>
      <section class="com-scroll-y com-scroll">
        <dl class="aux" v-for="(dx,index) in 2" :key="index">
          <dt>生活电器</dt>
          <dd>
            <div v-for="(dx,index) in 10" :key="index">
              <div>
                <img src="" alt="">
                <p>电热水器</p>
              </div>
            </div>
          </dd>
        </dl>
      </section>
    </div>



  </div>
</template>


<script>
  export default {
    name: 'goodsSelect',
    data() {
      return {
        name: ''
      }
    },
    created() { },
    watch: {},
    mounted() {
      this.$nextTick(() => { });
    },
    methods: {
      getIndex(e) {
        let parent = e.currentTarget;
        let ph = e.currentTarget.clientHeight;  //容器高度
        //let sh = e.currentTarget.scrollHeight;  //容器滚动区高度
        let st = e.currentTarget.scrollTop;  //容器已滚动高度

        let h = e.target.clientHeight;  //内容节点高度
        let t = e.target.offsetTop;  //内容节点距离容器顶部距离

        //上移
        let distance = t - st;  //内容节点距离容器顶部的可视距离
        if (distance > ph/2) {
          let animate = distance - ph/2 + h/2;
          let top = st + animate;

          let _top = st;
          let interval = window.setInterval(()=> {
            _top += 2;
            if (_top >= top) {
              _top = top;
              window.clearInterval(interval); 
            }
            parent.scrollTop = _top;
          }, 3);
        }
        //下移
        else {
          let animate = ph/2 - distance - h/2;
          let top = st - animate;

          let _top = st;
          let interval = window.setInterval(() => {
            _top -= 2;
            if (_top <= top) {
              _top = top;
              window.clearInterval(interval);
            }
            parent.scrollTop = _top;
          }, 3);
        }

        if (e.target.nodeName.toLowerCase() == "p") {
          let id = e.target.dataset.id;
          console.log(id);
          return ;
        }
        this.$root.comToastData.layer = 1;
        this.$root.comToastData.info = "业务操作异常";
      },
      getData() {
        //
      }
    }
  }
</script>

<style scoped>
  nav {width:1.8rem;box-shadow: 0 0 5px #eee;}
  nav p {height:.9rem;line-height:.9rem;text-align:center;border-bottom:1px solid #f8f8f8;font-size:.28rem;}
  section {flex:1;}
  section dl {border-bottom: 1px solid #eee;}
  section dl:last-child {border-bottom: 0;}
  section dl>dt {padding-left: .15rem;height:.6rem;line-height:.6rem;font-weight:bold;color:#666;}
  section dl>dd {padding-right: .15rem;}
  section dl>dd>div {float:left;width: 33.33333%;padding: 0 0 .15rem .15rem;} 
  section dl>dd>div div {border:1px solid #f8f8f8;}
  section dl>dd>div div img {display: block;width:100%;height:2rem;background-color:#f8f8f8;}
  section dl>dd>div div p {height:.6rem;line-height:.6rem;text-align: center;}
</style>