.van-goods-action{left:0;right:0;bottom:0;display:-webkit-box;display:-webkit-flex;display:flex;position:fixed;background-color:#fff}.van-goods-action--safe-area-inset-bottom{padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom)}