/*
*@重置默认样式
**/
@charset "utf-8";


* {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  font-size: .28rem;
  font-family: PingFangSC-Light, Roboto, HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: .26rem;
  hyphens: auto;
  text-size-adjust: 100%;
  letter-spacing: .036em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  color: #2a2a2a;
}
body {
  margin: 0;
  margin-right: auto;
  margin-left: auto; 
  width: 7.5rem;
}
p,ul,ol,h1,h2,h3,h4,h5,h6,dl {
  margin-top: 0;
  margin-bottom: 0;
}
ul,ol {
  padding-left: 0;
  list-style-type: none;
}
dl>dd {
  margin-left: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
  text-align: center;
}
table tr>td {
  word-wrap: break-word;
  word-break: break-all;
}
img {
  vertical-align: middle;
  border: 0;
  outline: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
em {
  font-style: normal;
  cursor: pointer;
  display: inline-block;
}
input {
  -webkit-appearance: none;
}
textarea {
  outline: 0;
} 
select {
  appearance: none;
}


@font-face {
  font-family: 'iconfont';  /* project id 419647 */
  src: url('//at.alicdn.com/t/font_419647_rdelfleqpxd.eot');
  src: url('//at.alicdn.com/t/font_419647_rdelfleqpxd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_419647_rdelfleqpxd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_419647_rdelfleqpxd.woff') format('woff'),
  url('//at.alicdn.com/t/font_419647_rdelfleqpxd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_419647_rdelfleqpxd.svg#iconfont') format('svg');
}
.iconfont { 
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}



/*
*@自定义公共样式库

*@带有com-前缀的为公共CSS，独立性、全局性
*@带有aux-前缀的为辅助CSS，需带有标签，例如：i.aux-color，或带有CSS选择器等
**/
.com-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.com-scroll-y {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto !important; 
  -webkit-overflow-scrolling: touch !important;
}
.com-scroll-y.aux-pdm {
  padding-bottom: .25rem;
}
/*优化滚动条*/
.com-scroll {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.com-scroll::-webkit-scrollbar {
  display:none;
}
.com-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.com-screen.aux-fix {
  position: fixed !important;
}
div.aux-screen {
  width: 100%;
  height: 100%;
}
.com-mgrl {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important; 
}
.com-disx {
  display: -webkit-flex;
  display: flex;
}
.com-disy {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.com-flex {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.com-flex.aux-top {
  align-items: flex-start;
}
.com-flexv {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.com-flexh {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
dl.aux,
dl.aux>dt,
dl.aux>dd {
  overflow: hidden;
}
ul.aux,
ul.aux>li {
  overflow: hidden;
}
button.aux, input.aux {
  border: 0;
  outline: 0;
}
button.aux-font {
  background-color: transparent;
}
input:not(.no-focus):focus { 
  border: 1px solid #ddd !important;
}
input.aux-pad {
  padding-right: .15rem;
  padding-left: .15rem;
}





/*
 *-----------------------------------------------------------------
 *-----------------------------------------------------------------
 *@属性
 *@公共样式CSS
 *-----------------------------------------------------------------
 *-----------------------------------------------------------------
 **/
.com-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.com-wrap {
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
}
.com-bg {
  background-color: #f8f8f8;
}
.com-active-bg:active {
  background-color: #fafafa !important;
}




/*
 *-----------------------------------------------------------------
 *-----------------------------------------------------------------
 *@组件
 *@公共样式CSS
 *-----------------------------------------------------------------
 *-----------------------------------------------------------------
 **/

/*颜色*/
.com-font-blue {
  color: #448aff;
}
.com-font-blue:active {
  color: #0056bc;
}

/*页面顶部导航*/
.com-nav-back {
  height: 1rem;
  box-shadow: 0 0 5px #f8f8f8;
}
.com-nav-container {
  flex: 1;
}

/*按钮*/
button.com-button {
  height: .75rem;
  outline: 0;
  border: 0;
  border-radius: .12rem;
  font-size: .28rem;
  color: #fff;
}
button.aux-blue {
  background-color: #448aff;
}
button.aux-blue:active {
  background-color: #0056bc;
}

/*输入框*/
input.aux-focus {
  border: 1px solid #ddd !important;
}
input.aux-focus:focus {
  border: 1px solid #ccc !important;
}

/*选择框*/
span.com-select-frame {
  overflow: hidden;
  display: inline-block;
  height: .45rem;
  line-height: .45rem;
}
span.com-select-frame label {
  display: inline-block;
  top: 1px;
  margin-left: .15rem;
}
span.com-select-frame em {
  float: left;
  display: block;
  width: .45rem;
  height: .45rem;
  border: 1px solid #ccc;
  border-radius: .1rem;
}
span.com-select-frame em.aux-radio {
  border-radius: 100%;
}
span.com-select-frame em:after {
  content: " ";
  position: absolute;
  top: .07rem;
  left: .14rem;
  width: 4px;
  height: 8px;
  border: 2px solid transparent;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg) scale(0);
  transition: transform .2s;
}
span.com-select-frame em.aux-active {
  background-color: #2d7bff;
  border-color: #2d7bff;
}
span.com-select-frame em.aux-active:after {
  border-color: #fff;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}