<template>
  <div class="com-container">
    <div class="com-container com-disy">
      <section>
        <router-view></router-view>
      </section>
      <footer class="com-disx">
        <div v-for="(dx, index) in tabList" @click="swipeTab(index)" :key="index" class="com-disy" :class="{active: dx.active}">
          <h5 class="com-flex"><i class="iconfont" :style="dx.style" v-html="dx.icon"></i></h5>
          <p>{{dx.text}}</p>
        </div>
      </footer>  
    </div>

    
    
  </div>
</template>


<script>
  export default {
    name: '',
    data () {
      return {
        tabList: [
          {text: "消息", icon: "&#xe630;", active: true, route: "news", style: "font-size:.38rem !important;"},
          {text: "商品", icon: "&#xe69e;", active: false, route: "goods", style: "font-size:.42rem !important;"},
          {text: "附近", icon: "&#xe684;", active: false, route: "nearby", style: "font-size:.5rem !important;"},
          {text: "服务", icon: "&#xe6a1;", active: false, route: "service", style: ""},
          {text: "我", icon: "&#xe60a;", active: false, route: "me", style: ""}
        ]
      }
    },
    created () {
      let path = this.$route;
      this.routePath(path);
    },
    watch: {
      $route: function(val) {
        this.routePath(val);
      }
    }, 
    methods: {
      routePath: function(route) {
        let path = route.path;
        for (let i = 0; i< this.tabList.length; i++) {
          if (path.match(this.tabList[i].route)) {
            this.tabList.forEach((value, index)=> {
              this.tabList[index].active = false; 
            }); 
            this.tabList[i].active = true;
            break;
          }
        }
      },
      swipeTab: function(id) {
        this.$router.push({path: this.tabList[id].route});
        this.tabList.forEach((value, index)=> {
          this.tabList[index].active = false; 
        });
        this.tabList[id].active = true;
      } 
    } 
  }
</script>

<style scoped>
  section {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 1.1rem;
    box-shadow: 0 -1px 2px #f2f2f2;
    background-color: #fafafa;
  }
  footer>div {
    flex: 1;
    text-align: center;
  }
  footer>div h5 {
    flex: 1;
  }
  footer>div h5 i {
    line-height: .46rem;
    font-weight: 100;
    font-size: .46rem !important;
  }
  footer>div.active h5 i {
    color: #0066cc;
  }
  footer>div p {
    height: .4rem;
    font-size: .28rem;
  }
  footer>div.active p {
    color: #0066cc;
  }
</style>