<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll" style="padding-top:1rem;">
      <section>
        <com-swipe time="5000" slideIndex="slideIndex">
          <com-swipe-item style="background-color:#D32F2F;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;"></div>
          </com-swipe-item>
          <com-swipe-item style="background-color:#FFCDD2;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;"></div>
          </com-swipe-item>
        </com-swipe>
      </section>
      <ul class="com-disx aux item">
        <li v-for="(dx,index) in itemList" :key="index" @click="goodsList(dx.router)">
          <em class="com-flexv"><i class="iconfont" v-html="dx.icon" :style="dx.style"></i></em>
          <p>{{dx.text}}</p>
        </li> 
      </ul>
      <dl class="aux banner recommend" style="margin-top:.25rem;border-top:5px solid #f8f8f8;">
        <dt>优质推荐</dt>
        <dd class="com-disx">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </dd>
      </dl>
      <dl class="aux banner discount" style="border-top:5px solid #f8f8f8;">
        <dt>今日优惠</dt>
        <dd class="com-disx">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </dd>
      </dl>
      <dl class="aux banner seckill" style="border-top:5px solid #f8f8f8;">
        <dt>现实秒杀</dt>
        <dd class="com-disx">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </dd>
      </dl>
      <dl class="aux banner inventory" style="border-top:5px solid #f8f8f8;">
        <dt>清仓处理</dt>
        <dd class="com-disx">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </dd>
      </dl>
      <ul class="com-disx aux list">
        <li class="com-disx" v-for="(dx,index) in 50" :key="index">
          <img src="" alt="">
          <p>红烧豆腐高交会馆回家干啥电咖啡壶高交会馆大发光火付款计划</p>
          <span class="price">￥<em>188</em></span>
          <span class="com-disx people"><i class="iconfont">&#xe684;</i>18米</span>
        </li>
      </ul>
    </div>


    <header class="com-disx">
      <div><input class="aux aux-pad" type="text" value="" placeholder="搜索附近商品"></div>
    </header>
    <main class="com-flex">
      <i class="iconfont">&#xe6bd;</i>
      <em>10</em>
    </main>
  </div> 
</template>


<script>
  export default {
    name: '',
    data() {
      return {
        slideIndex: 0,
        itemList: [
          {text: "厨房用具", icon: "&#xe697;", router: "/goods/list", style: ""},
          {text: "家电器具", icon: "&#xe697;", router: "/goods/list", style: ""},
          {text: "五金器材", icon: "&#xe697;", router: "/goods/list", style: ""},
          {text: "学习办公", icon: "&#xe697;", router: "/goods/list", style: ""},
          {text: "车辆租售", icon: "&#xe697;", router: "/goods/list", style: ""},
          {text: "生活用品", icon: "&#xe697;", router: "/goods/list", style: ""},
          {text: "衣裤穿戴", icon: "&#xe697;", router: "/goods/list", style: ""},
          {text: "更多商品", icon: "&#xe698;", router: "/goods/select", style: ""}
        ]
      }
    },
    created() { },
    watch: {},
    mounted() {
      this.$nextTick(() => { });
    },
    methods: {
      goodsList(url) {
        this.$router.push({
          path: url
        });
      }
    }
  }
</script>

<style scoped>
  section {height:4rem;background-color:#eee;}

  ul.item {flex-wrap: wrap;}
  ul.item>li {flex:25%;text-align: center;}
  ul.item>li em {width:100%;height:1rem;}
  ul.item>li em i {line-height:.4rem;font-size:.4rem;}
  ul.item>li p {height:.6rem;}

  dl.banner>dt {height:.7rem;line-height:.7rem;text-align:center;font-size: .32rem;}

  dl.recommend>dd {flex-wrap: wrap;}
  dl.recommend>dd>div {flex:25%;height:2rem;border-bottom:1px solid #f8f8f8;}
  dl.recommend>dd>div:nth-child(odd) {border-right:1px solid #f8f8f8;}
  dl.recommend>dd>div:nth-child(2) {border-right:1px solid #f8f8f8;}
  dl.recommend>dd>div:nth-child(6) {border-right:1px solid #f8f8f8;}

  dl.discount>dd {flex-wrap: wrap;}
  dl.discount>dd>div {flex:25%;height:3rem;border-right:1px solid #f8f8f8;}
  dl.discount>dd>div:last-child {border-right:0;}

  dl.seckill>dd {flex-wrap: wrap;}
  dl.seckill>dd>div {flex:50%;height:1.5rem;}
  dl.seckill>dd>div:nth-child(odd) {border-right:1px solid #f8f8f8;}
  dl.seckill>dd>div:nth-child(1) {border-bottom:1px solid #f8f8f8;}
  dl.seckill>dd>div:nth-child(2) {border-bottom:1px solid #f8f8f8;}

  dl.inventory>dd {flex-wrap: wrap;}
  dl.inventory>dd>div {flex:50%;height:1.5rem;}
  dl.inventory>dd>div:nth-child(odd) {border-right:1px solid #f8f8f8;}
  dl.inventory>dd>div:nth-child(1) {border-bottom:1px solid #f8f8f8;}
  dl.inventory>dd>div:nth-child(2) {border-bottom:1px solid #f8f8f8;}

  ul.list {flex-wrap:wrap;border-top:8px solid#f8f8f8;border-bottom:30px solid#f8f8f8;}
  ul.list>li {flex:50%;flex-wrap: wrap;padding-bottom:.15rem;border-bottom:5px solid#f8f8f8;}
  ul.list>li:nth-child(odd) {border-right:2.5px solid#f8f8f8;}
  ul.list>li:nth-child(even) {border-left:2.5px solid#f8f8f8;}
  ul.list>li * {flex:100%;}
  ul.list>li img {display:block;width:100%;height:4rem;background-color:#eee;}
  ul.list>li p {margin:.15rem 0;padding:0 .15rem;overflow:hidden;-webkit-line-clamp: 2;word-break: break-all;height: .8rem;line-height: .4rem;font-size: .28rem;}
  ul.list>li span {flex:1;font-size: .24rem;}
  ul.list>li span.price {padding-left:.15rem;text-align:left;color:#ff5000;}
  ul.list>li span.people {padding-right:.15rem;text-align:right;color:#03A9F4;}
  ul.list>li span.people i {flex: 1;font-size: .26rem;color:#aaa;}

  header {position:absolute;top:0;left:0;width:100%;height:1rem;background-color: #03A9F4;}
  header div {flex:1;padding:.1rem .1rem;}
  header div input {width:100%;height:100%;border-radius:.1rem;}
  main {position:absolute;right:.2rem;bottom:.8rem;width:1rem;height:1rem;border-radius: 100%;box-shadow: 0 0 3px #ccc;background-color: #fff;}
  main i {font-size: .5rem;color:#aaa;}
  main em {position: absolute;top: .08rem;font-size:.24rem;color:#f00;}
</style>