<template>
  <div class="com-container com-bg">
    <div class="com-scroll-y com-scroll">
      <header>
        <i class="iconfont">&#xe665;</i>
        <ul class="com-disx aux">
          <li class="portrait"><img src="@/assets/images/001.jpg" alt=""></li>
          <li class="profile">
            <h3>王小汇</h3>
            <p><i class="iconfont"></i>137 1864 7330</p>
          </li>
          <li class="com-flexv detail"><i class="iconfont">&#xe61a;</i></li>
        </ul>
      </header>
      <ul class="aux function">
        <li class="com-disx com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>订单管理</label></li>
      </ul>
      <ul class="aux function">
        <li class="com-disx com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>商品管理</label></li>
        <li class="com-disx com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>服务管理</label></li>
      </ul>
      <ul class="aux function">
        <li class="com-disx com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>通讯录</label></li>
      </ul>
      <ul class="aux function">
        <li class="com-disx com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe66b;</i></em><label>设置</label></li>
      </ul>
    </div>



  </div>
</template>


<script>
  export default {
    name: 'me',
    data () {
      return {
        name: ''
      }
    },
    created () {},
    watch: {},
    mounted: function() { 
      this.$nextTick(() => {});
    },
    methods: {}
  }
</script>

<style scoped>
  header {padding: .85rem 0 .25rem 0;background-color:#fff;}
  header>i {position: absolute;top:.15rem;right:.2rem;line-height:.4rem;font-size: .4rem;color:#aaa;}
  header img {width:1.4rem;height:1.4rem;border-radius: .1rem;}
  header h3 {margin-top:.15rem;width:100%;height:.7rem;line-height:.7rem;color: #333;}
  header p {width:100%;color: #999;}
  header>ul>li.portrait {padding-left:.25rem;width:1.8rem;}
  header>ul>li.profile {flex:1;}
  header>ul>li.profile h3 {font-size: .32rem;} 
  header>ul>li.profile p {font-size: .28rem;}
  header>ul>li.detail {width:.5rem;}
  header>ul>li.detail i {line-height:.5rem;font-size: .5rem;color:#aaa;}

  ul.function {margin-top:.25rem;background-color:#fff;}
  ul.function>li {padding-left:.25rem;height:1.1rem;line-height:1.1rem;font-size: .3rem;}
  ul.function>li:not(.last-child):first-child {border-bottom: 1px solid #f8f8f8;}
  ul.function>li>em {width:.6rem;}
  ul.function>li>em i {line-height:.4rem;font-size: .4rem;}
  ul.function>li>label {flex:1;margin-left:.1rem;}
</style> 