<template>
  <div class="com-container com-bg">
    <div class="com-scroll-y com-scroll">
      <header>
        <span class="nearby"><i class="iconfont">&#xe688;</i>500米 <em>[选择]</em></span>
        <span class="com-flexv release"><i class="iconfont">&#xe6ad;</i></span>
      </header>
      <ul class="aux function">
        <li class="com-disx  com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>附近社区</label>
        </li>
      </ul>
      <ul class="aux function">
        <li class="com-disx  com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>优质商家</label></li>
      </ul>
      <ul class="aux function">
        <li class="com-disx  com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>二手市场</label></li>
        <li class="com-disx  com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>限时竞拍</label></li>
      </ul>
      <ul class="aux function">
        <li class="com-disx  com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>附近菜市场</label>
        </li>
        <li class="com-disx  com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>街边摊位</label>
        </li>
      </ul>
      <ul class="aux function">
        <li class="com-disx  com-active-bg"><em class="com-flexv"><i class="iconfont">&#xe602;</i></em><label>个人出售</label></li>
      </ul>
    </div>



  </div>
</template>


<script>
  export default {
    name: 'community',
    data () {
      return {
        name: ''
      }
    },
    created () {},
    watch: {},
    mounted: function() { 
      this.$nextTick(() => {});
    },
    methods: {}
  }
</script>

<style scoped>
  header {padding-right:.15rem;padding-left:.15rem;line-height:1rem;height:1rem;background-color:#03A9F4;}
  header span.nearby {color:#fff;}
  header span.nearby i {float:left;line-height:1rem;font-size:.5rem;color:#fff;}
  header span.nearby em {color:#3F51B5;}
  header span.release {float:right;height:100%;}
  header span.release i {line-height:.45rem;font-size:.45rem;color:#fff;}

  ul.function {margin-top:.25rem;background-color:#fff;}
  ul.function>li {padding-left:.25rem;height:1.1rem;line-height:1.1rem;font-size: .3rem;}
  ul.function>li:not(.last-child):first-child {border-bottom: 1px solid #f8f8f8;}
  ul.function>li>em {width:.6rem;}
  ul.function>li>em i {line-height:.4rem;font-size: .4rem;}
  ul.function>li>label {flex:1;margin-left:.1rem;}
</style>