<template>
  <div class="com-container">
    <ul class="aux com-scroll-y com-scroll">
      <li v-for="(dx,index) in 15" :key="index" @click="dialog" class="com-disx com-active-bg">
        <div class="com-flex portrait"><img src="@/assets/images/001.jpg" alt=""></div>
        <div class="content">
          <h3 class="com-nowrap">王晓辉</h3>
          <p class="com-nowrap">SD发个红风格的少的发更好的考几分更健康多少积分郭德纲发</p>
        </div>
        <div class="time"><span>04.29/19</span></div>
      </li>
    </ul>


    <div v-if="false" class="com-container com-flexv">
      <span style="color:#999;">暂无消息可读</span>
    </div>
  </div>
</template>


<script>
  export default {
    name: 'news',
    data () {
      return {
        name: ''
      }
    },
    created () {},
    watch: {},
    mounted: function() { 
      this.$nextTick(() => {});
    },
    methods: {
      dialog() {
        this.$router.push({
          path: "/im/dialog"
        });
      }
    }
  }
</script>

<style scoped>
  ul {padding-bottom: .85rem;}
  ul>li {
    padding-top: .1rem;
    padding-bottom: .1rem;
    height: 1.4rem;
    border-bottom: 1px solid #f8f8f8;
  }
  ul>li>div {
    overflow: hidden;
  }
  div.portrait {
    padding: .1rem .15rem .1rem .2rem;
    width: 1.35rem;
  }
  div.portrait img {
    width: 1rem;
    height: 1rem;
    border-radius: .1rem;
  }
  div.content {
    flex: 1;
    padding-top: .1rem;
  }
  div.content h3 {
    height: .62rem;
    line-height: .62rem;
    font-size: .32rem;
  }
  div.content p {
    font-size: .28rem;
    color: #999;
  }
  div.time {
    padding-top: .2rem;
    padding-right: .2rem;
    width: 1.4rem;
    text-align: right;
    font-size: .24rem;
  }
</style>