<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll" style="padding-top:1rem;">
      <section>
        <com-swipe>
          <com-swipe-item style="background-color:#D32F2F;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;"></div>
          </com-swipe-item>
          <com-swipe-item style="background-color:#FFCDD2;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;"></div>
          </com-swipe-item>
        </com-swipe>
      </section>
      <ul class="com-disx aux item">
        <li v-for="(dx,index) in itemList" :key="index" @click="serviceList(dx.router)">
          <em class="com-flexv"><i class="iconfont" v-html="dx.icon" :style="dx.style"></i></em>
          <p>{{dx.text}}</p>
        </li> 
      </ul> 
      <dl class="aux banner recommend" style="margin-top:.25rem;border-top:5px solid #f8f8f8;">
        <dt>附近优质服务</dt>
        <dd class="com-disx">
          <div class="vertical"></div>
          <div class="vertical"></div>
          <div class="vertical"></div>
          <div class="vertical"></div>
          <div class="horizontal"></div>
          <div class="horizontal"></div>
          <div class="horizontal"></div>
          <div class="horizontal"></div>
        </dd>
      </dl>
      <ul class="aux list">
        <li v-for="(dx,index) in 50" :key="index" class="com-disx" :class="index%2 == 0 ? 'company': 'person'">
          <h3 v-if="index%2==0">深圳联讯云科技有限公司<span><i class="iconfont">&#xe684;</i>12米</span></h3>
          <h3 v-if="index%2!=0">李红都<span><i class="iconfont">&#xe684;</i>12米</span></h3>
          <div class="banner"><img src="" alt=""></div>
          <div class="info">
            <p class="item"><label>主营业务:</label>银行信用评估、信用卡办理、资产评估等</p>
            <p v-if="index%2==0" class="experience"><label>经营年限:</label>12年</p>
            <p v-if="index%2!=0" class="experience"><label>从业年限:</label>3年</p>
            <p class="appraise"><label>客户好评:</label></p>
          </div>
        </li>
      </ul>
    </div>


    <header class="com-disx">
      <div><input class="aux aux-pad" type="text" value="" placeholder="搜索附近服务"></div>
    </header>
  </div> 
</template>


<script>
  export default {
    name: '',
    data() {
      return {
        itemList: [
          {text: "股权融资", icon: "&#xe697;", router: "/service/list", style: ""},
          {text: "股票债券", icon: "&#xe697;", router: "/service/list", style: ""},
          {text: "房屋租赁", icon: "&#xe697;", router: "/service/list", style: ""},
          {text: "全球代购", icon: "&#xe697;", router: "/service/list", style: ""},
          {text: "留学服务", icon: "&#xe697;", router: "/service/list", style: ""},
          {text: "银行借贷", icon: "&#xe697;", router: "/service/list", style: ""},
          {text: "物品抵押", icon: "&#xe697;", router: "/service/list", style: ""},
          {text: "更多服务", icon: "&#xe698;", router: "/service/select", style: ""}
        ]
      }
    },
    created() { },
    watch: {},
    mounted() {
      this.$nextTick(() => { });
    },
    methods: {
      serviceList(url) {
        this.$router.push({
          path: url
        });
      }
    }
  }
</script>

<style scoped>
  section {height:4rem;background-color:#eee;}

  ul.item {flex-wrap: wrap;}
  ul.item>li {flex:25%;text-align: center;}
  ul.item>li em {width:100%;height:1rem;}
  ul.item>li em i {line-height:.4rem;font-size:.4rem;}
  ul.item>li p {height:.6rem;}

  dl.banner>dt {height:.7rem;line-height:.7rem;text-align:center;font-size: .32rem;}

  dl.recommend>dd {flex-wrap: wrap;}
  dl.recommend>dd>div {border-bottom:1px solid #f8f8f8;}
  dl.recommend>dd>div.vertical {flex:25%;height:2.5rem;border-right:1px solid #f8f8f8;}
  dl.recommend>dd>div.vertical:last-child {border-right:0;}
  dl.recommend>dd>div.horizontal {flex:50%;height:2rem;}
  dl.recommend>dd>div.horizontal:nth-child(odd) {border-right:1px solid #f8f8f8;}

  ul.list {border-top:8px solid#f8f8f8;border-bottom:30px solid#f8f8f8;}
  ul.list>li {flex-wrap:wrap;padding: 0 .1rem .15rem .1rem;border-bottom:1px solid #f8f8f8;}
  ul.list>li>h3 {flex:100%;padding-right:1rem;height:.7rem;line-height:.7rem;font-size:.32rem;}
  ul.list>li>h3 span {float:right;position: absolute;right:0;font-size: .24rem;color:#03A9F4;}
  ul.list>li>h3 span i {flex: 1;font-size: .26rem;color:#aaa;}
  ul.list>li>div.banner {width:2.2rem;height:1.8rem;margin-right:.1rem;}
  ul.list>li>div.banner img {display:block;width:100%;height:100%;background-color:#f8f8f8;}
  ul.list>li>div {overflow:hidden;flex:1;}
  ul.list>li>div p {overflow:hidden;font-size: .24rem;}
  ul.list>li>div p label {color: #03A9F4;}
  ul.list>li>div p.item {overflow:hidden;height:.8rem;line-height:.4rem;-webkit-line-clamp: 2;word-break: break-all;}
  ul.list>li>div p.experience {height:.5rem;line-height:.5rem;}
  ul.list>li>div p.appraise {height:.5rem;line-height:.5rem;}

  header {position:absolute;top:0;left:0;width:100%;height:1rem;box-shadow: 0 0 2px #eee;background-color: #03A9F4;}
  header div {flex:1;padding:.1rem .1rem;}
  header div input {width:100%;height:100%;border-radius:.1rem;}
</style>