<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll">


      <h3 class="gererate-line"></h3>

      <div class="ysun-button">
        <button type="button" class="com-button aux-blue">按钮</button>
        <button @click="doToast" type="button" class="com-button aux-blue">Toast框</button>
        <button @click="doLoading" type="button" class="com-button aux-blue aux-blue">加载数据框</button>
        <button @click="doProgress" type="button" class="com-button aux-blue aux-blue">业务操作框</button>
        <button @click="doPageLoading" type="button" class="com-button aux-blue aux-blue">页面加载框</button>
        <button @click="doAlert" type="button" class="com-button aux-blue aux-blue">消息框</button>
        <button @click="doConfirm" type="button" class="com-button aux-blue aux-blue">确认框</button>
        <button @click="doActionSheet" type="button" class="com-button aux-blue aux-blue">操作框</button>
        <button @click="doPicker" type="button" class="com-button aux-blue aux-blue">Pcker框</button>
        <button @click="doDatePicker" type="button" class="com-button aux-blue aux-blue">时间选择器</button>
        <button @click="doAddrPicker" type="button" class="com-button aux-blue aux-blue">地址选择器</button>
      </div>

      <h3 class="gererate-line"></h3>

      <table class="ysun-color-list">
        <tr>
          <td style="background-color:#448aff;color:#fff;">#448aff;</td>
          <td style="background-color:;"></td>
          <td style="background-color:;"></td>
          <td style="background-color:;"></td>
          <td style="background-color:;"></td>
        </tr>
        <tr>
          <td style="background-color:#0056bc;color:#fff;">#0056bc;</td>
          <td style="background-color:;"></td>
          <td style="background-color:;"></td>
          <td style="background-color:;"></td>
          <td style="background-color:;"></td>
        </tr>
      </table>

      <h3 class="gererate-line"></h3>

      <com-notice-turn :array="comTurnList"></com-notice-turn>

      <h3 class="gererate-line"></h3>

      <div style="width:100%;height:4rem;">
        <com-swipe auto="false" @change="getSlideCount">
          <com-swipe-item style="background-color:#D32F2F;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;">1</div>
          </com-swipe-item>
          <com-swipe-item style="background-color:#FFCDD2;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;">2</div>
          </com-swipe-item>
          <com-swipe-item style="background-color:#448AFF;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;">3</div>
          </com-swipe-item>
          <com-swipe-item style="background-color:#FFCDD2;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;">4</div>
          </com-swipe-item>
          <com-swipe-item style="background-color:#448AFF;font-size: 2rem;">
            <div class="com-flexv" style="width:100%;height:100%;">5</div>
          </com-swipe-item>
        </com-swipe>
      </div>

      <h3 class="gererate-line"></h3>

      <table class="ysun-spinner">
        <tr>
          <td class="com-flexv">
            <com-spinner></com-spinner>
          </td>
          <td class="com-flexv">
            <com-spinner type="bounce"></com-spinner>
          </td>
          <td class="com-flexv">
            <com-spinner type="triple"></com-spinner>
          </td>
          <td class="com-flexv">
            <com-spinner type="circle"></com-spinner>
          </td>
          <td class="com-flexv" v-loading src=""></td>
        </tr>
      </table>

      <h3 class="gererate-line"></h3>

      <dl class="dl-aux image-loading">
        <dt>图片懒加载</dt>
        <dd>
          <img v-loading src="http://www.fujinhuo.com/83246392409387.png" alt="">
        </dd>
      </dl>

      <h3 class="gererate-line"></h3>

      <dl class="aux ysun-layout">
        <dt>单选（单项）</dt>
        <dd>
          <p>
            <span @click="radioHItem" class="com-select-frame"><em :class="{'aux-active': radioVItem}"></em><label>单选单项</label></span></p>
        </dd>
      </dl>
      <dl class="aux ysun-layout">
        <dt>单选（多项）</dt>
        <dd>
          <p v-for="(dx, index) in radioVList" :key="index">
            <span @click="radioHList(index)" class="com-select-frame"><em class="aux-radio"
                :class="{'aux-active': dx.active}"></em><label>单选多项</label></span>
          </p>
        </dd>
      </dl>
      <dl class="aux ysun-layout">
        <dt>多选（多项）</dt>
        <dd>
          <p v-for="(dx, index) in checkBoxVList" :key="index">
            <span @click="checkBoxHList(index)" class="com-select-frame"><em :class="{'aux-active': dx.active}"></em><label>多选多项</label></span>
          </p>
        </dd>
      </dl>

      <h3 class="gererate-line"></h3>

    </div>


    <!--操作框-->
    <com-action-sheet :actions="actions" v-model="actionsheet"></com-action-sheet>
    <!--picker-->
    <com-picker index="0" :actions="pickerActions" title="Picker选择框" v-model="showPicker" @change="getPickerValue"></com-picker>
    <!--时间选择器-->
    <com-date-picker start="1900-02-12" end="2050" show="now" v-model="showDatePicker" @change="getDateValue"></com-date-picker>
    <!--地址选择器-->
    <com-adrress-picker :slots="addrSlots" v-model="showAddrPicker" @change="getAddrValue"></com-adrress-picker>

    <div class="com-screen com-bg com-disy" style="display:none;">
      <com-pull-flush v-load-scroll="loadMore" class="com-scroll-y com-scroll" style="flex:1;padding-bottom:1rem;">
        <p v-for="(dx,index) in loadMoreCount" :key="index" style="height:1rem;border:1px solid #aaa;">{{index}}</p>
      </com-pull-flush>
      <div class="com-flexv" v-if="loadState" style="position:absolute;bottom:0;width:100%;height:1rem;">
        <com-spinner type="triple"></com-spinner>
      </div>
    </div>
  </div>
</template>


<script src="./index.js"></script>
<style scoped>
  @import "./test.css";

  div.ysun-button {
    overflow: hidden;
  }

  div.ysun-button button {
    float: left;
    margin: .1rem;
  }

  h3.gererate-line {
    clear: both;
    width: 100%;
    height: 10px;
    background-color: #FA8C16;
    margin: .2rem auto;
  }

  table.ysun-color-list {
    width: 100%;
  }

  table.ysun-color-list tr>td {
    width: 20%;
    height: .8rem;
    border: 1px solid #eee;
  }

  table.ysun-spinner {
    width: 100%;
  }

  table.ysun-spinner tr>td {
    float: left;
    width: 20%;
    height: 1.5rem;
    border: 1px solid #eee;
  }

  dl.image-loading {
    border: 1px solid #aaa;
  }

  dl.image-loading>dt {
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    background-color: #bbb;
  }

  dl.image-loading>dd {
    height: 4rem;
  }

  dl.image-loading>dd img {
    display: block;
    width: 100%;
    height: 100%;
  }

  dl.ysun-layout {
    overflow: hidden;
  }

  dl.ysun-layout>dt {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background-color: #FFF0F0;
  }

  dl.ysun-layout>dd {
    overflow: hidden;
    padding: .1rem;
  }

  dl.ysun-layout>dd>p {
    height: .8rem;
    line-height: .8rem;
  }
</style>