<template>
  <div id="app" class="com-container">
    <transition :name="swipeAnimate">
      <router-view id="comContainer"></router-view>
    </transition> 


    <com-page-loading :params="$root.comPageLoadingData"></com-page-loading>
    <com-toast :params="$root.comToastData"></com-toast>
    <com-loading :params="$root.comLoadingData"></com-loading>
    <com-progress :params="$root.comProgressData"></com-progress>
    <com-alert :params="$root.comAlertData"></com-alert>
    <com-confirm :params="$root.comConfirmData"></com-confirm>
  </div> 
</template>

<script>


export default {
  name: 'app',
  components: {},
  data() {
    return {
      swipeAnimate: ""
    }
  },
  created: function() {},
  watch: {
    $route(to, from) {
      if (!plug.judgeValid(to.meta.index) || !plug.judgeValid(from.meta.index)) {
        return ;
      }
      if (to.meta.index > from.meta.index) {
        this.swipeAnimate = "slide-left";
        return ;
      }
      this.swipeAnimate = "slide-right";
    }
  },
  methods: {}
} 
</script> 

<style>
  @import "./assets/default.css";
  @import "./../library/component.css";

  .slide-right-enter-active, .slide-right-leave-active, .slide-left-enter-active, .slide-left-leave-active {
    will-change: transform;
    transition: all 200ms;
    position: absolute;
  }
  .slide-right-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  .slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  .slide-left-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  .slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
</style>
