<div class="com-container com-disy">
  <header class="com-nav-back"></header>
  <div class="com-container com-disx com-nav-container">
    
  </div>
</div>










<template>
  <div class="com-container">
    <div class="com-scroll-y com-scroll">

    </div>

    

  </div>
</template>


<script>
  export default {
    name: '',
    data () {
      return {
        name: ''
      }
    },
    created () {},
    watch: {},
    mounted: function() { 
      this.$nextTick(() => {});
    },
    methods: {}
  }
</script>

<style scoped>

</style>